.container {
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;   
    display: flex;
}

.box {
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

    /* transition: 1s; */
    /* transition-property: all; */
    /* transition-delay: 5s; */
    
    /* transition: background-color 1s ease 2s; */
    /* transition: all 5s ease 1s; */
    /* transition: transform 3s cubic-bezier(0, 1.47, 0, 1.68) 1s; */


    transition-property: transform background-color;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.box:hover {
    background-color: brown;
    transform: scale(2) translateX(501px) rotate(360deg);
}